
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
}

#app {
  text-align: center;
  padding-top: 20px;
}

h1 {
  margin: 0;
  font-size: 40px;
}

p {
  margin: 6px 0 12px 0;
  font-size: 15px;
}


table {
  margin: 0 auto;              
  border: 2px solid #000;     
  border-collapse: collapse;   
  width: 360px;                
  background: #fff;
}

thead th {
  font-size: 14px;
  font-weight: 700;
  padding: 5px 10px;
  text-align: left;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 2px solid #000;
}

tbody td {
  font-size: 14px;
  padding: 5px 10px;
  text-align: left;

  
  border-left: 1px solid #999;
  border-right: 1px solid #999;

  border-bottom: 1px #000000;
}


